@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-gray-700 text-gray-100 dark:bg-gray-700 dark:text-gray-100;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  position: relative;

  /* @media (prefers-color-scheme: light) {
    color-scheme: light;
  } */
}
